<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gray Wolf Racing Team</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/6b105a924a.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/styles/forms.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://cdn.websitepolicies.io/lib/cookieconsent/1.0.3/cookieconsent.min.js" defer></script>
</head>
<body>
<div class="container">
    <div class="background-league-img"><img src="/images/gwrteam_background.png" alt="" srcset=""></div>
    <nav class="navbar">
        <div class="nav-left">
            <div class="logo">
                <a href="/"><img th:src="@{/images/gwr_logo.png}"
                                 alt="Logo Gray Wolf Racing Team"></a>
            </div>
        </div>
        <div class="categories">
            <ul>
                <li class="main-li-red"><a th:href="@{/}">Strona główna</a></li>
                <li><a th:href="@{/kontakt}">Kontakt</a></li>
            </ul>
            <div class="socials-mob">
                <a href="https://facebook.com"><i
                        class="fa-brands fa-facebook-f"></i></a>
                <a href="https://twitch.com"><i
                        class="fa-brands fa-twitch"></i></a>
                <a href="https://discord.com/channels/730309320876752996/730313785335873637"><i
                        class="fa-brands fa-discord"></i></a>
                <a href="https://youtube.com"><i
                        class="fa-brands fa-youtube"></i></a>
            </div>
        </div>
    </nav>
    <div class="login-panel">
        <h1>Kontakt</h1>
        <div th:if="${message != null}">
            <p class="alert-info">[[${message}]]</p>
        </div>
        <form th:action="@{/kontakt}" method="post" enctype="multipart/form-data">
            <div class="user-form-red">
                <label for="name">Imię i Nazwisko<span> *</span></label>
                <input type="text" id="name" name="name" required placeholder="Imię i Nazwisko *">
            </div>
            <div class="user-form-red">
                <label for="email">E-mail<span> *</span></label>
                <input type="email" id="email" name="email" required placeholder="E-mail *">
            </div>
            <div class="user-form-red">
                <textarea placeholder="Wiadomość." th:rows="5" id="text" name="text" required></textarea>
            </div>
            <div class="user-form-red">
                <div class="row">
                    <div class="user-form-button-red">
                        <button type="submit">Wyślij</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="burger" id="burger">
    <i class="fas fa-bars show" id="fas fa-bars"></i>
    <i class="fas fa-times" id="fas fa-times"></i>
</div>
<div class="sponsors">
    <a href="http://www.volveno.com"><img src="/images/volveno.png" alt="Volveno"></a>
    <a href="https://podjaskolka.pl/"><img src="/images/hotel.png" alt="Hotel pod Jaskółką"></a>
    <a href="http://www.farby-przemyslowe.com/"><img src="/images/baltic.png" alt="Baltic Polska"></a>
    <a href="http://obrobka-metalu.com/"><img src="/images/obrobka-metalu.png" alt="Obróbka Metalu"></a>
    <a href="https://www.instagram.com/gepettomods/?fbclid=IwAR0jFiSW1JMEv8J49W0Hjzxoj_iKKzJYs7NeYfIMYow28pl7v-M5p6CFw4s"><img
            src="/images/gepetto.png" alt="Gepetto Mods"></a>
</div>
<footer>
    <div class="footer-box">
        <div class="socials">
            <div class="social"><a th:href="@{https://facebook.com}"><i
                    class="fa-brands fa-facebook-f"></i></a></div>
            <div class="social"><a th:href="@{https://twitch.com}"><i
                    class="fa-brands fa-twitch"></i></a></div>
            <div class="social"><a th:href="@{https://discord.com/channels/730309320876752996/730313785335873637}"><i
                    class="fa-brands fa-discord"></i></a></div>
            <div class="social"><a th:href="@{https://youtube.com}"><i
                    class="fa-brands fa-youtube"></i></a></div>
        </div>
        <div class="footer-nav">
            <a href="/polityka-prywatnosci"><span>Polityka prywatności</span></a>
            <a href="https://www.twitch.tv/jarek_irek"><span>Transmisje wyścigów</span></a>
        </div>
        <div class="footer-name"><span style="color: #8a0000">© GRAY WOLF RACING TEAM 2022</span></div>
    </div>
</footer>
<script src="js/burger.js"></script>
<script src="js/show-button.js"></script>
<script>window.addEventListener("scroll", function () {
    var navbar = document.querySelector(".navbar");
    var logo = document.querySelector(".logo");
    navbar.classList.toggle("sticky", window.scrollY > 100);
    logo.classList.toggle("sticky", window.scrollY > 100);
})</script>
</body>
</html><!DOCTYPE html>