<!DOCTYPE html>
<html lang="pl" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zresetuj hasło | Liga FDS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/6b105a924a.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/styles/forms.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<body>
<div class="container">
    <div class="background-league-img"><img src="/images/monza.png" alt="" srcset=""></div>
    <div id="arrow"><i class="fa-solid fa-arrow-up"></i></div>
    <nav class="navbar">
        <div class="burger" id="burger">
            <i class="fas fa-bars show" id="fas fa-bars"></i>
            <i class="fas fa-times" id="fas fa-times"></i>
        </div>
        <div class="nav-left">
            <a href="/liga" class="logo">
                <img alt="logo ligi fsd" src="/images/logo_fsd.png">
            </a>
            <a href="/liga" class="logo-fsd">
                Liga Fast Drive School
            </a>
        </div>
        <div class="categories">
            <ul>
                <li class="main-li"><a href="/liga">Strona Główna</a></li>
                <li><a href="/liga/kontakt">Kontakt</a></li>
                <div class="socials-mob">
                    <a href="https://facebook.com"><i
                            class="fa-brands fa-facebook-f"></i></i></a>
                    <a href="https://twitch.com"><i
                            class="fa-brands fa-twitch"></i></i></a>
                    <a href="https://discord.com/channels/730309320876752996/730313785335873637"><i
                            class="fa-brands fa-discord"></i></a>
                    <a href="https://youtube.com"><i
                            class="fa-brands fa-youtube"></i></i></a>
                </div>
            </ul>
        </div>
        <div
                th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
            <span th:case="${false}"><a href="/logowanie" class="login-button">Zaloguj</a></span>
            <div th:case="${true}">
                <div class="dropdown" id="user-name">
                    <span class="login-button-name" sec:authentication="name">Jan</span>
                    <span><i class="fa-solid fa-angle-down"></i></span></div>
                <div>
                    <ul class="dropdown-ul">
                        <li><a href="/zglos-incydent">Zgłoś incydent</a></li>
                        <li><a href="/logout">Wyloguj</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="login-panel">

            <h1>Wprowadź nowe hasło</h1>

        <form th:action="@{/zresetuj-haslo}" method="post">
            <input type="hidden" name="code" th:value="${code}"/>
            <div class="user-form">
                <label style="left: 17%" for="password">Hasło<span> *</span></label>
                <input id="password" name="password" required type="password" minlength="8" placeholder="Hasło *"/>
            </div>
            <div class="user-form">
                <label style="left: 17%" for="confirmPassword">Powtórz hasło<span> *</span></label>
                <input id="confirmPassword" name="confirmPassword" type="Password"
                       oninput="checkPassword(this)" placeholder="Powtórz hasło *"/>
            </div>
            <div class="user-form-button">
                <button type="submit">Zresetuj</button>
            </div>
        </form>
    </div>
</div>
<div th:replace="fragments :: sponsors"></div>
</div>
<footer th:replace="fragments :: footer"></footer>
<script src="js/show-button.js"></script>
<script src="js/burger.js"></script>
<script src="js/pass.js"></script>
<script>window.addEventListener("scroll", function () {
    var navbar = document.querySelector(".navbar");
    var logo = document.querySelector(".logo");
    navbar.classList.toggle("sticky", window.scrollY > 100);
    logo.classList.toggle("sticky", window.scrollY > 100);
})</script>
</body>
</html><!DOCTYPE html>