<!DOCTYPE html>
<html lang="pl" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Regulamin | Porsche Cup Challenge | Liga FDS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/6b105a924a.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/styles/forms.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<body>
<div class="container">
    <div id="arrow"><i class="fa-solid fa-arrow-up"></i></div>
    <nav class="navbar">
        <div class="burger" id="burger">
            <i class="fas fa-bars show" id="fas fa-bars"></i>
            <i class="fas fa-times" id="fas fa-times"></i>
        </div>
        <div class="nav-left">
            <a href="/liga" class="logo">
                <img alt="logo ligi fsd" src="/images/logo_fsd.png">
            </a>
            <a href="/liga" class="logo-fsd">
                Liga Fast Drive School
            </a>
        </div>
        <div class="categories">
            <ul>
                <li class="main-li"><a href="/liga">Strona Główna</a></li>
                <li><a href="/porschecup/regulamin">Regulamin</a></li>
                <li><a href="/porschecup/zawodnicy">Zawodnicy</a></li>
                <div class="socials-mob">
                    <a href="https://facebook.com"><i
                            class="fa-brands fa-facebook-f"></i></i></a>
                    <a href="https://twitch.com"><i
                            class="fa-brands fa-twitch"></i></i></a>
                    <a href="https://discord.com/channels/730309320876752996/730313785335873637"><i
                            class="fa-brands fa-discord"></i></a>
                    <a href="https://youtube.com"><i
                            class="fa-brands fa-youtube"></i></i></a>
                </div>
            </ul>
        </div>
        <div
                th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
            <span th:case="${false}"><a href="/logowanie" class="login-button">Zaloguj</a></span>
            <div th:case="${true}">
                <div class="dropdown" id="user-name">
                    <span class="login-button-name" sec:authentication="name">Jan</span>
                    <span><i class="fa-solid fa-angle-down"></i></span></div>
                <div>
                    <ul class="dropdown-ul">
                        <li><a href="/zglos-incydent">Zgłoś incydent</a></li>
                        <li><a href="/logout">Wyloguj</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="rules">
        <div class="rules-overlay">
            <ul>
                <li><h1>Regulamin główny.</h1></li>
                <li>1) Warunkiem koniecznym uczestniczeniu w lidze jest obecność na discordzie <a href="https://discord.com/channels/730309320876752996/733960582063194124">Gray
                Wolf Racing</a>, nazwa użytkownika musi się zgadzać z nazwą konta w iRacing.</li>
                <li>2) Przed każdym kolejnym sezonem kierowca chcący wziąć udział w lidze, będzie musiał się
                zapisać do odpowiedniej serii wyścigowej.</li>
                <li>3) Format rozgrywanych wyścigów oraz wszystkie szczegóły danej serii wyścigowej będą
                podawane w każdym kolejnym sezonie, a dostępne będą w informacjach w konkretnej serii,
                która będzie w danym momencie rozgrywana.</li>
                <li>4) W obrębie naszej ligi wyróżniamy serie mistrzowskie, za które kierowcy z podium sezonu
                otrzymują puchary, zwycięzca zostaje mistrzem danej serii i będzie bronił swojego tytułu przy
                ponownym starcie tej samej serii wyścigowej.</li>
                <li>a) Aktualne serie mistrzowskie:</li>
                <li>(1) Porsche Cup Challenge</li>
                <li>(2) GT3 Series</li>
                <li>b) Pozostałe serie będą traktowane jako serie dodatkowe.</li>
                <li>5) Za starty w naszej lidze będą przyznawane różne dodatkowe nagrody, które będą mogli
                otrzymać kierowcy również z poza podium klasyfikacji generalnej, a szczegóły będą dostępne w
                informacjach konkretnej serii.</li>
                <li>6) Zabrania się kierowcom zbędnych dyskusji na radiu odnośnie zdarzeń wyścigowych podczas
                trwania wyścigu. Wszelkie niejasności wyjaśniamy po wyścigu we wzajemnym szacunku.</li>
                <li>7) Za skrajnie niesportowe zachowanie podczas wspólnych sesji ligowych, zespół sędziowski może
                nałożyć dodatkowe kary, a w ekstremalnych przypadkach wykluczyć z ligi.</li>
                <li>8) Wszelkie sporne sytuacje będą rozstrzygane przez sędziów po złożeniu odpowiedniego
                protestu.</li>
                <li>9) W przypadku serii wyścigowej, w której będzie trzeba wybrać samochód na sezon, nie będzie
                możliwości zmiany samochodu w trakcie trwania sezonu.</li>
                <li>W przypadku zmian w regulaminie ligi, pojawią się informacje w zakładce aktualności na
                    discordzie.</li>
            </ul>
        </div>
    </div>
    <div th:replace="fragments :: sponsors"></div>
</div>
<footer th:replace="fragments :: footer"></footer>
<script src="/js/show-button.js"></script>
<script src="/js/burger.js"></script>
<script>window.addEventListener("scroll", function () {
    var navbar = document.querySelector(".navbar");
    var logo = document.querySelector(".logo");
    var arrow = document.querySelector("#arrow");
    navbar.classList.toggle("sticky", window.scrollY > 100);
    logo.classList.toggle("sticky", window.scrollY > 100);
    arrow.classList.toggle("sticky", window.scrollY > 100);
})</script>
<script>var arrowup = document.querySelector("#arrow");
arrowup.addEventListener("click", function (){
    $("html, body").animate({scrollTop: 0}, "slow");
})
</script>
</body>
</html><!DOCTYPE html>