<!DOCTYPE html>
<html lang="pl" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja | Liga FDS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/6b105a924a.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/styles/forms.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<body>
<div class="container">
    <div class="background-league-img"><img src="/images/monza.png" alt="" srcset=""></div>
    <nav class="navbar">
        <div class="burger" id="burger">
            <i class="fas fa-bars show" id="fas fa-bars"></i>
            <i class="fas fa-times" id="fas fa-times"></i>
        </div>
        <div class="nav-left">
            <a href="/liga" class="logo">
                <img alt="logo ligi fsd" src="/images/logo_fsd.png">
            </a>
            <a href="/liga" class="logo-fsd">
                Liga Fast Drive School
            </a>
        </div>
        <div class="categories">
            <ul>
                <li class="main-li"><a href="#">Strona Główna</a></li>
                <li><a href="/liga/kontakt">Kontakt</a></li>
                <div class="socials-mob">
                    <a href="https://facebook.com"><i
                            class="fa-brands fa-facebook-f"></i></i></a>
                    <a href="https://twitch.com"><i
                            class="fa-brands fa-twitch"></i></i></a>
                    <a href="https://discord.com/channels/730309320876752996/730313785335873637"><i
                            class="fa-brands fa-discord"></i></a>
                    <a href="https://youtube.com"><i
                            class="fa-brands fa-youtube"></i></i></a>
                </div>
            </ul>
        </div>
        <div th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
            <span th:case="${false}"><a href="/logowanie" class="login-button">Zaloguj</a></span>
            <span th:case="${true}">
        <div class="dropdown" id="user-name">
            <span class="login-button-name" sec:authentication="name">Jan</span>
            <span><i class="fa-solid fa-angle-down"></i></span>
            <div class="dropdown-background">
                <ul class="dropdown-ul">
                    <li><a href="/logout">Wyloguj</a></li>
                </ul>
            </div>
        </div>
            </span>
        </div>
    </nav>
    <div class="reg-panel">
        <div th:if="${param.success}">
            <div class="alert alert-info">Rejestracja zakończona sukcesem
            </div>
        </div>

        <h1>Rejestracja</h1>
        <form id="form" th:action="@{/rejestracja}" method="post" th:object="${user}">
            <div id="errormsg" class="errormsg">
                <span th:if="${errorMessage}" th:text="${errorMessage}">Error</span>
            </div>
            <div class="errormsg"
                 th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
                    <span th:case="${true}">
            <span style="color:#015c7c;" class="errormsg" sec:authentication="name">Jan</span>
            <span style="color:#e0e0e0;" class=" errormsg">, jesteś już zarejestrowany.</span>
                    </span>
            </div>
            <div class="rep-panel-half">
                <div class="user-form">
                    <label for="username">Nazwa użytkownika<span> *</span></label>
                    <input id="username" th:field="*{username}" name="username" type="text"
                           required minlength="6" maxlength="20" placeholder="Nazwa użytkownika *"/>
                </div>
                <div class="user-form">
                    <label for="password">Hasło<span> *</span></label>
                    <input id="password" type="password"
                           th:field="*{password}" required minlength="8" placeholder="Hasło *"/>
                </div>
                <div class="user-form">
                    <label for="confirmPassword">Powtórz hasło<span> *</span></label>
                    <input id="confirmPassword" name="confirmPassword" type="Password"
                           required oninput="checkPassword(this)" placeholder="Powtórz hasło *"/>
                </div>
                <div class="user-form">
                    <label for="email">E-mail<span> *</span></label>
                    <input id="email" th:field="*{email}" required type="email" placeholder="E-mail *"/>
                </div>
            </div>
            <div class="rep-panel-half">
                <div class="user-form">
                    <label for="firstName">Imię<span> *</span></label>
                    <input id="firstName" th:field="*{firstName}" required placeholder="Imię *"/>
                </div>
                <div class="user-form">
                    <label for="lastName">Nazwisko<span> *</span></label>
                    <input id="lastName" th:field="*{lastName}" placeholder="Nazwisko *"/>
                </div>
                <div class="user-form">
                    <label for="custId">iRacing ID (6 cyfr)<span> *</span></label>
                    <input id="custId" th:field="*{custId}" required
                           minlength="6" maxlength="6" placeholder="iRacing ID (6 cyfr) *"/>
                </div>
            </div>
            <div><p><span><input type="checkbox" required></span> Akceptuję <a style="color: #015c7c"
                                                                               href="/polityka-prywatnosci">Politykę
                Prywatności.</a></p></div>
            <div><p><span><input type="checkbox" required></span> Akceptuję <a style="color: #015c7c"
                                                                               href="/glowny-regulamin">Regulamin Ligi
                FSD.</a></p></div>
            <div class="user-form-button">
                <button type="submit">Zarejestruj</button>
            </div>
            <div class="user-form">
                <span>Jesteś zarejestrowany? <a href="/" th:href="@{/logowanie}">Zaloguj się tutaj</a></span>
            </div>
        </form>
    </div>
</div>
<div th:replace="fragments :: sponsors"></div>
<footer th:replace="fragments :: footer"></footer>
<script src="js/show-button.js"></script>
<script src="js/burger.js"></script>
<script src="js/pass.js"></script>
<script>window.addEventListener("scroll", function () {
    let navbar = document.querySelector(".navbar");
    let logo = document.querySelector(".logo");
    navbar.classList.toggle("sticky", window.scrollY > 100);
    logo.classList.toggle("sticky", window.scrollY > 100);
})</script>
</body>
</html><!DOCTYPE html>