.user-profile {
    margin: 10vh auto;
    justify-content: center;
    display: flex;
    /*width: 1200px;*/
    /*height: 60vh;*/
    /*background-color: rgba(0,0,0,0.6);*/
    /*border-radius: 45px;*/
}
.user-details {
    display: flex;
    align-items: center;
    border-radius: 40px 40px 40px 40px;
    background-color: rgba(0,0,0,0.6);
}
.user-photo img {
    width: 300px;
    border: 14px inset #015c7c;
    border-radius: 0px 0px 40px 40px;
}
.user-about {
    text-align: center;
    color: white;
    font-size: 22px;
    margin: 60px;
}